@media screen and (min-width: 992px){
    .a1{
        margin-left: 50px;
        
    }
    .a1 img{
        height: 80px;
    }
    .a2{
        margin-left: 150px;
    }
    .a2 li{
        margin-left: 50px;
        font-size: 20px;
        font-weight: 700;
    }
    .a5{
         display: inline;
           
    }
    .a5 i{
        margin-top: 15px;
    }
    .a6{
        display: none;
    }
    .a7{margin-left: 10px;}
}
.nav-link:hover{
    color: rgb(204, 15, 211);
    
}
.material-icons:hover{
     color: rgb(204, 15, 211);
}
.material-icons{
    color: rgba(0, 0, 0, 0.63);
}
@media (min-width:300px) and (max-width:990px){
    .a1{
        margin-left: 30px;
    }
    .a1 img{
        height: 60px;
    }
    .a2{
        margin-left: 230px;
    }
    .a3{
        margin-right: 70px;
        border: none;
          
    }
    .a4{
        font-size: 27px;
        color: black;
       
    }
    .a7{
        display: none;
    }
}